body {
  font-family: 'NTR', sans-serif;
}
.header {
  background-color: #fe8a71;
  text-align: center;
  padding: 20px;
}
.header h1 { 
 color: #00263b; 
} 

/* Create three equal columns that floats next to each other 
.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}
*/

/* Left and right column */
.column.side {
  float: left;
  width: 22%;
  padding: 1%;
  background-color: #f4ebc1;
}

/* Middle column */
.column.middle {
  float: left;
  width: 50%;
  padding: 1%;
  background-color: #f4f6ff;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.footer {
  background-color: #00263b;
  text-align: center;
  padding: 20px;
}
.footer p { 
 color: #faf2f2; 
} 

